@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

/* 색상 */

.white {
    color: #fff;
}

.black_bg {
    background-color: #000;
}

.orange {
    color: #ff734e;
}

.orange_bg {
    background-color: #ff734e;
}

/* 글씨 */

.font_bold {
    font-weight: bold;
}

/* 레이아웃 */

.body_container {
    width: 100vw;
    height: 100vh;
}

.off {
    display: none !important;
}

/* 헤더 */

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color : #fff;
}

/* 메인 */

#main {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

#left_menu {
    width: 150px;
    height: 100%; 
    color : #fff;
    background-color: #78767c;
}

        #left_menu .menu {
            font-weight: bold;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            cursor : pointer;
            text-decoration: none;
            color : #000;            
        }


#contents {
    width: calc(100vw - 110px);
    height: 100%;  
    padding: 100px 50px;
    box-sizing: border-box;
}

        #contents .title {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 30px;
        }

/* 탭메뉴 */

.company_type {
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 30px;
}

        .type_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            border-bottom : 2px solid black;
            box-sizing: border-box;
            background-color: #f3eae8;
            cursor : pointer;
        }

        .type_btn.selected {
            border : 2px solid black;
            box-sizing: border-box;
            border-bottom : none;
            background-color: #fff;
        }

/* 테이블 */

.data_list {
    table-layout: fixed;
    width: 100%;
}

        .data_list tr {
            height: 40px;
        }

        .data_list tr.clicked {
            background-color: #e2e2e2;
        }

                .data_list th, .data_list td {
                    text-align: center;
                    vertical-align: middle;
                    border : 1px solid #000;
                    box-sizing: border-box;
                    
                }

                .data_list th {
                    background-color: #ff734e;
                    font-weight: bold;
                    color : #fff;
                    font-size: 15px;
                }

                .data_list td {
                    font-size: 12px;
                }

/* 수정 버튼 */

.revise {
    display: flex;
    margin-top: 20px;
}

        .revise_btn {
            width: 120px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            font-size: 18px;
            cursor : pointer;
        }

/* 모달창 */

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

        .modal {
            position: relative;
            width: 480px;
            height: 640px;
            border-radius: 8px;
            background: white;
            padding: 50px 20px 30px;
            box-sizing: border-box;
        }

                .modal_item {
                    display: flex;
                    height: 25px;
                    margin-bottom: 15px;
                }

                        .modal_item > * {
                            height: 100%;
                        }

                        .modal_item h2 {
                            display: flex;
                            align-items: center;
                            width: 25%;
                        }

                        .modal_item input {
                            width: 75%;
                            box-sizing: border-box;
                        }

                .submit_btn {
                    position: absolute;
                    left: 50%;
                    bottom: 30px;
                    transform: translateX(-50%);
                    display: block;
                    width: 120px;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    box-sizing: border-box;
                    cursor: pointer;
                }

                .close_btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 55px;
                    border: solid 1px #fff;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.6);
                    cursor: pointer;
                }

                        .close_btn img {
                            width: 24px;
                            height: 24px;
                        }


