.body_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7b7b7;
}

        .login_element {
            position: relative;
            width: 520px;
            height: 760px;
            padding: 170px 50px 0 50px;
            border-radius: 10px;
            box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: solid 1px #707070;
            background-color: #fff;
            box-sizing: border-box;
        }

                /* 로고 */

                .logo {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 36px;
                }

                        .logo img {
                            width: 161px;
                            height: 53.7px;
                        }

                /* 로그인 폼 */
                    
                #login_info {
                    width: 100%;
                }

                        #login_info input, #login_info .submit {
                            width: 100%;
                            height: 43px;
                            box-sizing: border-box;
                        }

                        #login_info input {
                            border: solid 1px #b7b7b7;
                            margin-bottom: 12px;
                            font-size: 14px;
                            padding: 0;
                            padding-left: 14px;
                        }

                                #login_info input::placeholder {
                                    color: #b7b7b7;
                                }

                        #login_info .submit {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            border-radius: 22px;
                            margin-top: 24px;
                            font-size: 18px;
                            cursor : pointer;
                        }

                /* 닫기 버튼 */

                /* .close_btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 55px;
                    border: solid 1px #fff;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.6);
                    cursor: pointer;
                }

                        .close_btn img {
                            width: 24px;
                            height: 24px;
                        } */