/* 매칭 총현황 */
.matching_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

        .matching_total {
            display: flex;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 30px;
        }

                .matching_total > div {
                    margin-right: 15px;
                }

                .matching_total > div:last-child {
                    margin-right: 0;
                }

                .matching_total .matched {
                    color : blue;
                }

                .matching_total .cancel {
                    color : red;
                }

                .matching_total .proceed {
                    color : green;
                }
